extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}

                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit purus non augue efficitur elementum. Fusce efficitur aliquam rhoncus. Donec dapibus tincidunt lectus sed maximus. Donec tempor ullamcorper justo, vitae vulputate orci convallis a. Donec fermentum congue erat nec convallis. Vivamus semper auctor felis quis fermentum.

                p Morbi scelerisque eros nulla, non posuere est semper nec. Nulla mattis purus sit amet tellus suscipit varius. Duis volutpat neque augue, ultrices commodo ex pulvinar quis. Quisque ac lacus sed turpis accumsan semper ac non lacus. Curabitur condimentum tellus vel velit fermentum faucibus. Maecenas a tincidunt lacus, eget pellentesque eros.


                p sed nibh non leo fringilla auctor. In hac habitasse platea dictumst. Mauris arcu diam, tincidunt interdum vulputate iaculis, mollis id sem. Maecenas at sagittis magna. Praesent in pretium orci. 
        
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Praesent in pretium orci. Cras tempus pharetra ligula pellentesque tempor. In mattis, urna eu facilisis tristique, tellus libero mollis felis, a iaculis turpis mauris et metus. Phasellus auctor neque massa, in faucibus dui tincidunt eget.
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Praesent in pretium orci. Cras tempus pharetra ligula pellentesque tempor. In mattis, urna eu facilisis tristique, tellus libero mollis felis, a iaculis turpis mauris et metus. Phasellus auctor neque massa, in faucibus dui tincidunt eget.
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Praesent in pretium orci. Cras tempus pharetra ligula pellentesque tempor. In mattis, urna eu facilisis tristique, tellus libero mollis felis, a iaculis turpis mauris et metus. Phasellus auctor neque massa, in faucibus dui tincidunt eget.
                